{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <h2 class="main-title">Dashboard</h2>
  <p>Hi {{ user.first_name }} from {{ user.institution }}. Welcome to your tracker dashboard!</p>
  
  <div class="card-body">
    <h4 class="title">Sensors</h4>
      <ul>
         <li class="text"><a href="{% url 'sensor_new' %}">Add New Sensor</a></li>
         <li class="text"><a href="{% url 'sensor_list' %}">View All Sensors</a></li>
       </ul>
  </div>
  <div class="card-body">
    <h4 class="title">Data Submissions</h4>
      <ul>
          <li><a href="{% url 'submission_new' %}">Upload New Data File</a></li>
          <li><a href="{% url 'submission_list' %}">View All Data Submissions</a></li>
       </ul>
  </div>
  <div class="card-body">
    <h4 class="title">Data Visualizations</h4>
      <ul>
        COMING SOON!
        <img class="img" src="/static/img/sample-graph.png" alt="Sample Graph">
      </ul>
  </div>
 


{% else %}
<div>
<p>Take control of your museum environment with the Environmental Data Tracker, a tool that allows institutions to upload, visualize, and analyze their temperature and humidity data. Improve how you monitor your collections for optimal preservation conditions.</p>
</div>
<p>Get started today!</p>
<p><a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a>.</p>
<br>
<h4>Sample Graph:</h4>
<img class="image" src="/static/img/sample-graph.png" alt="Sample Graph">

{% endif %}
{% endblock content %}

