{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Dashboard</h2>
  <p>Hi {{ user.first_name }} from {{ user.institution }}. Welcome to your tracker dashboard!</p>
  
  <div>
    <h4>Sensors</h4>
    <ul>
        <li><a href="{% url 'sensor_new' %}">Add New Sensor</a></li>
        <li><a href="{% url 'sensor_list' %}">View All Sensors</a></li>
      </ul>
  </div><br>
  <div>
      <h4>Data Submissions</h4>
      <ul>
      <li><a href="{% url 'submission_new' %}">Upload New Data File</a></li>
      <li><a href="{% url 'submission_list' %}">View All Data Submissions</a></li>
    </ul>
    </div>

{% else %}
    <p>Welcome to our site. This will be a short description of what the app does.</p>
    <p>You are not currently logged in. <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a>.</p>
{% endif %}
{% endblock content %}