{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p>Welcome to your tracker dashboard.</p>
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
    <p>Welcome to our site. This will be a short description of what the app does.</p>
    <p>You are not currently logged in. Login or sign up below.</p>
    <a href="{% url 'login' %}">Log In</a> | 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}