{% extends 'base.html' %}

{%load crispy_forms_tags %}

{% block title %}Sensors{% endblock title %}

{% block content %}
<p>
<a href="{% url 'home' %}">Return to My Dashboard</a> |
<a href="{% url 'sensor_new' %}"> Add New Sensor</a>
</p>
<h2>Sensors for {{ user.institution }} ({{ user.institution.sensor_set.count}})</h2><br>

{% for sensor in object_list %}
<h4>{{ sensor.name }} </h4>
<p>
    Room: {{ sensor.room }}
    <br>
    Sensor Type: {{ sensor.sensortype }}
    <br>
    <a href="{% url 'sensor_delete' sensor.pk %}">Delete Sensor</a> |
    <a href="{% url 'sensor_edit' sensor.pk %}">Edit Sensor</a>
</p>
{% endfor %}

{% endblock content %}